<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
</head>
<body>
<div style="text-align: center;"/>
<h1>Registration form</h1>
<form th:method="POST" th:action="@{/registration}" th:object="${user}">
    <label for="userName">Name: </label>
    <input type="text" th:field="*{userName}" id="userName">
    <!--    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error text</div>-->
    <br/>
    <label for="userSurname">Surname: </label>
    <input type="text" th:field="*{userSurname}" id="userSurname">
    <!--    <div style="color: red" th:if="${#fields.hasErrors('clientSurname')}" th:errors="*{clientSurname}">error text</div>-->
    <br/>
    <label for="telephoneNumber">Telephone number: </label>
    <input type="text" th:field="*{telephoneNumber}" id="telephoneNumber">
    <!--    <div style="color: red" th:if="${#fields.hasErrors('telephoneNumber')}" th:errors="*{telephoneNumber}">error text</div>-->
    <br/>
    <label for="email">Email: </label>
    <input type="text" th:field="*{email}" id="email">
    <!--    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">error text</div>-->
    <br/>
    <label for="password">Password: </label>
    <input type="text" th:field="*{password}" id="password">
    <!--    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">error text</div>-->
    <br/>
    <input type="submit" value="Register"/>
</form>
<hr>
</body>
</html>