<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User create</title>
</head>
<body>
<form action="#" th:action="@{/usercreate}" th:object="${user}" method="post">
    <label for="userName">First name</label>
    <input type="text" th:field="*{userName}" id="userName" placeholder="User Name">
    <label for="userSurname">Last name</label>
    <input type="text" th:field="*{userSurname}" id="userSurname" placeholder="User Surname">
    <label for="telephoneNumber">Last name</label>
    <input type="text" th:field="*{telephoneNumber}" id="telephoneNumber" placeholder="Telephone Number">
    <label for="email">Last name</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">

<!--    добавить выбор услуги!!!-->
    <input type="submit" value="Create User">
</form>
</body>
</html>